<html>
    <head>
        <title>JukeBox</title>
    </head>
    <body>
        <p>Hello world</p>
        <button id="getMusics">
            Get music list
        </button>
        <table>
            <tr>
                <th>Title</th>
                <th>Play</th>
            </tr>
            {% for music in musics %}
            <tr>
                <td>{{ music }}</td>
                <td>
                    <button id="{{ music }}" name="sendMusic">
                        Play !
                    </button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </body>
    <script src="static/client.js"></script>
</html>